:root {
    /* --color-fg: #bebebe; */
    /* --color-hl: white; */
    /* --color-text: #1f221d; */
    --header-height: 85px;
    --std-font-size: 15px;

    --color-fg: #c4c9cd;
    /* --color-fg: #d2cdd4; */
    --color-bg: #dee4e8;
    /* --color-hl: #F7F7FF; */
    --color-hl: #f2fdfb;
    --color-text: #0B032D;

    --magenta: #843B62;
    --eggplant: #74546A;
}

* {
    font-family: 'Lucida Console', Courier, monospace;
}

.outset {
    border-style: outset;
    border-color: var(--color-hl) var(--color-fg) var(--color-fg) var(--color-hl);
    border-width: 2.5px;
    background-color: var(--color-fg);
}

.inset {
    border-style: inset;
    border-color: var(--color-fg) var(--color-hl) var(--color-hl) var(--color-fg);
    border-width: 2.5px;
    background-color: var(--color-fg);
}

body {
    min-height: calc(100vh - var(--header-height));
    /* background-image: linear-gradient(#59c135, #24523b); */
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-fg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-bar {
    padding: 8px;
    height: 50px;
    /* text-overflow: clip; */
    text-wrap-mode: nowrap;
    font-size: 40px;
    color: var(--color-text);
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
}

.header-buttons-bar {
    height: 20px;
    padding: 1px 4px;
    flex: 1;
}

.header-buttons-bar-small {
    height: 20px;
    padding: 1px 4px;
    aspect-ratio: 1 / 1;
}

footer {
    bottom: 0;
    left: 0;
    flex: 1;
    height: calc(var(--header-height) - 4px);
    background-color: var(--color-fg);
}

main {
    margin-top: var(--header-height);
    min-height: calc(100vh - calc(2 * var(--header-height)));
}

.text-contents {
    max-width: 500px;
    margin: auto;
    padding: 20px 0;
    text-align: justify;
    text-justify: auto;
}


.img-64x64 {
    height: 256px;
    width: 256px;
    image-rendering: pixelated;
    position: absolute;
    z-index: -1;
}