@import url('https://fonts.googleapis.com/css2?family=Doto:wght@800&display=swap');

:root {
    /* Structural variables */
    --header-height: 58px;
    --std-font-size: 15px;
    /* Colour variables */
    --color-fg: #dee4e8; /* Foreground */
    --color-in: #c7cbce; /* Indents */
    --color-sh: #7a848c; /* Shadow */
    --color-bg: #eff2f4; /* Background */
    --color-hl: #F7F9F9; /* Highlights */
    --color-text: #0B032D; /* Text */
    --color-outline: #30383e;
    --color-outline2: #525a5f;
    --color-hd: #4a3d7c; /* Header */
    --color-hd: #62528D;

    --lcd-dark: #9cba7b;
    --lcd-light: #acca8a;
    --lcd-text: #132130;
}

* {
    font-family: 'Lucida Console', Courier, monospace;
}


.doto-lcd-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}


/*==========[ GENERAL STRUCTURE ]==========*/

html {
    scroll-behavior: smooth;
}

body {
    min-height: calc(100vh - var(--header-height));
    /* background-image: linear-gradient(#59c135, #24523b); */
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

main {
    /* min-height: calc(calc(100vh - var(--header-height)) - 1px); */
    min-height: calc(100vh - var(--header-height));
    width: 100%;
    background-image: url(../images/noise_bg.svg);
    /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%"><defs><filter id="noise" x="0" y="0"><feTurbulence baseFrequency="0.000175" numOctaves="8" type="fractalNoise" seed="var(--noise-seed)" in="SourceGraphic" result="noisy"><!-- <animate attributeName="seed" values="1;31" dur="15s" repeatCount="indefinite"></animate> --></feTurbulence><feDiffuseLighting lighting-color="var(--color-fg)" surfaceScale="500" in="noisy" result="noiseImage"><feDistantLight elevation="75" /></feDiffuseLighting><feComponentTransfer in="noiseImage" result="postImage"><!-- <feFuncR type="discrete" tableValues="0.478 0.768 0.870" /> --><feFuncR type="discrete" tableValues="0.768 0.870" /><!-- <feFuncG type="discrete" tableValues="0.517 0.788 0.894" /> --><feFuncG type="discrete" tableValues="0.788 0.894" /><!-- <feFuncB type="discrete" tableValues="0.549 0.803 0.909" /> --><feFuncB type="discrete" tableValues="0.803 0.909" /></feComponentTransfer><!-- <feGaussianBlur stdDeviation="0.35" in="postImage" result="smoothed" /> --></filter><feDisplacementMap in="SourceGraphic" scale="1"></feDisplacementMap></defs><rect width="100%" height="100%" filter="url(%23noise)"></rect></svg>'); */
    /* Both don't do anything in laptop chrome */
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template: 2fr 1fr / 1fr 2fr;
    /* gap: 10px; */
    /* padding: 10px; */
    box-sizing: border-box;
    border: 5px solid var(--color-bg);
}

@media only screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

.main-grid-item {
    border: 5px solid var(--color-bg);
}

footer {
    bottom: 0;
    left: 0;
    flex: 1;
    height: calc(var(--header-height) - 4px);
    background-color: var(--color-fg);
}


/*==========[ HEADER ]==========*/

header {
    position: sticky;
    /* height: var(--header-height); */
    top: 0;
    /* left: 0; */
    /* width: 100%; */
    /* z-index: 1; */
    background-color: var(--color-hd);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-bar {
    padding: 8px;
    /* text-overflow: clip; */
    text-wrap-mode: nowrap;
    font-size: var(--std-font-size);
    /* color: var(--color-text); */
    color: var(--color-fg);

    overflow: hidden;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.header-buttons-bar-small {
    height: 26px;
    aspect-ratio: 1 / 1;
}

.header-buttons-bar {
    height: 26px;
    flex-grow: 1;
}


/*==========[ WEBSITE-WIDE CLASSES ]==========*/

.outset {
    border: 4px outset;
    border-color: var(--color-hl) var(--color-fg) var(--color-fg) var(--color-hl);
    background-color: var(--color-fg);
    outline: 2px solid var(--color-outline);
    box-sizing: border-box;
    color: var(--color-text);
}

.inset {
    border: 4px inset;
    border-color: var(--color-fg) var(--color-hl) var(--color-hl) var(--color-fg);
    background-color: var(--color-fg);
    /* outline: 2px solid var(--color-outline); */
    box-sizing: border-box;
    color: var(--color-text);
}

.text-contents {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: justify;
    text-justify: auto;
}

.window {
    max-width: 80vw;
    min-height: 80%;
    margin: auto;
    padding: 15px;
    color: var(--color-text);
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    backdrop-filter: blur(2px);
    background-color: rgb(0.3, 0.3, 0.3, 0.3);
}

.window-top {
    display: flex;
    justify-content: space-between;
}

.window-title {
    font-size: 30px;
    font-weight: bold;
}

.window-text {
    font-size: var(--std-font-size);
    margin-top: 10px;
}

.img-64x64 {
    height: 256px;
    width: 256px;
    image-rendering: pixelated;
    position: absolute;
    z-index: -1;
}

/*==========[ GUESTBOOK PAGE ]==========*/

.guestbook-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

@media only screen and (max-width: 800px) {
    .guestbook-grid {
        grid-template-columns: 1fr;
    }
    .guestbook-form {
        padding-bottom: 15px;
        border-bottom: 2px solid var(--color-sh);
    }
}

.guestbook-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-text);
}

.guestbook-input > .msg {
    padding: 5px;
    min-height: 150px;
}

.guestbook-input > .name {
    padding: 5px;
}

.guestbook-input > div:focus {
    outline: 2px solid var(--color-outline);
}

.guestbook-messages {
    width: 100%;
    background-color: blue;
}

/*==========[ REACH ONE ]==========*/

.reach-one-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
}

.reach-one-reset {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.reach-one-reset.input {
    width: 100%;
}

.previous-numbers {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content:flex-start;

    width: 250px;
    height: 35px;
    background-color: var(--color-bg);
}

.current-number {
    width: 250px;
    height: 300px;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.generate-button {
    height: 50px;
    width: 100%;
}