.grid {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    width: fit-content;
    margin: auto;
    padding: 50px 5%;
    justify-content: space-around;
}

.grid-item {
    background-color: var(--color-fg);
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 15px;
    color: var(--color-text);
}





.grid-item-top {
    display: flex;
    gap: 20px;
    height: 50px;
    margin: 0 15px;
}

.grid-item-title {
    height: 40px;
    width: 100%;
    border-style: inset;
    padding: 5px;
    font-size: var(--std-font-size);
}

.grid-item-progress {
    height: 50px;
    aspect-ratio: 1 / 1;
}

.grid-item-progress.current {
    background-color: var(--magenta);
}

.grid-item-progress.done {
    background-color: var(--eggplant);
}

.grid-item-info {
    height: calc(var(--std-font-size) * 10);
    overflow: hidden;
    margin: 0 15px;
    padding: 5px;
    font-size: var(--std-font-size);
    text-align: justify;
    text-justify: auto;
}