.grid {
    display: grid;
    /* grid-template-rows: auto; */
    /* grid-auto-rows: auto; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 20px;
    justify-content: space-around;
}

@media only screen and (max-width: 1300px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.grid-item {
    background-color: var(--color-fg);
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 15px;
    color: var(--color-text);
}

.grid-item-top {
    display: flex;
    gap: 20px;
    height: 50px;
    margin: 0 15px;
}

.grid-item-title {
    box-sizing: border-box;
    width: 100%;
    border-style: inset;
    padding: 5px;
    font-size: var(--std-font-size);
}

.grid-item-progress {
    height: 50px;
    aspect-ratio: 1 / 1;
}

.grid-item-progress.finished {
    background-color: #23e91c;
}

.grid-item-progress.todo {
    background-color: #f18a31;
}

.grid-item-progress.concept {
    background-color: #ec1f1f;
}

.grid-item-info-border {
    margin: 0 15px;
}

.grid-item-info, .grid-item-info-animate {
    min-height: calc(22px * 7);
    overflow: hidden;

    background: var(--lcd-dark);
    background-image: linear-gradient(var(--lcd-light) .25em, transparent .1em), linear-gradient(90deg, var(--lcd-light) .1em, transparent .1em);
    background-size: 10.8px 22px;
    background-position: -2px -1px;

    border-width: 5px;
    border-style: solid;
    border-color: var(--lcd-light);

    /* background-color: #9cba7b;  */
    color: var(--lcd-text);
    font-size: 18px;
    white-space: pre-wrap;
}

/*==========[ SUDOKU PROJECT ]==========*/

.sudoku-grid, .sudoku-nine {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: var(--color-text);
}

.sudoku-grid {
    margin: auto;
    display: none;
    gap: 3px;
    background-color: var(--color-outline);
    outline: 4px solid var(--color-outline);
}

.sudoku-nine {
    /* justify-content: center; */
    /* align-items: center; */
    gap: 2px;
    background-color: var(--color-outline);
}

.sudoku-field {
    border-width: 0px;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    aspect-ratio: 1 / 1;
}

.sudoku-nr {
    /* font-size: var(--std-font-size); */
    font-size: 17px;
    font-weight: bold;
}