
/*===============================================================*/
/*====================[ VARIABLES & GENERAL ]====================*/
/*===============================================================*/

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@800&display=swap');

:root {
    /* Structural variables */
    --header-height: 58px;
    --std-font-size: 15px;
    /* Colour variables */
    --color-primary: #537A5A;
    --color-primary-hl: #56876D;

    --color-primary: #56876D;
    --color-primary-hl: #6EA286;

    --color-secondary: #dee4e8;
    --color-secondary-hl: #F7F9F9;
    --color-accent: #9cba7b;
    --color-accent-hl: #acca8a;
    --color-background: #eff2f4;
    --color-outline: #30383e;
    --color-text: #0B032D; /* Text */
    --color-text2: #f0eff5; /* Text alternate */

    --color-hd: #62528D;

    /* --lcd-dark: #9cba7b; */
    /* --lcd-light: #acca8a; */
    /* --lcd-text: #132130; */
}

html {
    scroll-behavior: smooth;
    font-family: 'Lucida Console', Courier, monospace;
}

.doto-lcd-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

body {
    /* Structure */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 25px max(100px, 10%);
    margin: 0;
    box-sizing: border-box;
    /* Background */
    background-image: radial-gradient(var(--color-background) 4px, var(--color-accent) 5px, var(--color-background) 5px);
    background-size: 15px 15px;
    background-attachment: fixed;
    animation: bg-scroll 4s linear infinite;
}

@keyframes bg-scroll {
    from {background-position: 0px 15px;} 
    to {background-position: 0px 0px;}
}

main {
    padding: 20px;
    flex: 1;
}

@media only screen and (max-width: 720px) {
    header {
        position: sticky;
        top: 0;
    }
    body {
        padding: 0;
    }
}


/*==================================================*/
/*====================[ HEADER ]====================*/
/*==================================================*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    padding: 12px 0 10px 8px;
    color: var(--color-text2);
    line-height: 35px;
    font-family: "Michroma", sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px var(--color-accent);
}
.header-text::first-letter {
    font-size: 55px;
    font-weight: 600;
    color: transparent;
}

.header-clock {
    display: flex;
    gap: 10px;
}

.clock {
    font-size: 25px;
    background-color: var(--color-accent);
    background-image: 
        linear-gradient(var(--color-accent-hl) .2em, transparent .1em), 
        linear-gradient(90deg, var(--color-accent-hl) .1em, transparent .1em);
    background-size: 14.9px 30.0px;
    background-position: -2px -2px;
    border: 3px solid var(--color-accent-hl);
}

.header-buttons {
    display: flex;
    gap: 1px;
    z-index: 1;
    /* margin: 2px 0px; */
    margin-top: 1px;
    margin-bottom: 1px;
}

.header-buttons-stretch {
    height: 28px;
    flex: 1;
}

@media only screen and (max-width: 520px) {
    .header-infil-left, .header-infil-right {
        display: none;
    }
    .base-button.small {
        flex: 1;
    }
}


/*===================================================*/
/*====================[ BUTTONS ]====================*/
/*===================================================*/

/* Standard button class */
.base-button {
    text-align: center;
    align-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: border-color 0.8s;
    .button-text {
        display: flex;
        justify-content: center;
        gap: 5px;
        transition: transform 0.1s;
        transform: translateY(-1px);
    };
    /* Pushed down buttons */
    &.selected {
        border-style: inset;
        /* border-color: var(--color-secondary) var(--color-secondary-hl) var(--color-secondary-hl) var(--color-secondary); */
        border-color: var(--color-secondary-hl);
        cursor: default;
        .button-text {
            transform:translateY(1px);
        }
    };
    /* Medium buttons */
    &.medium {
        height: 50px;
        font-size: 40px;
        padding: 2px 5px;
        width: 150px;
    };
    /* Small buttons */
    &.small {
        height: 28px;
        font-size: var(--std-font-size);
        /* width: 104px; */
        /* min-width: 90px; */
        padding: 0px 5px;
    };
    /* Exit buttons (X) */
    &.exit {
        width: 25px;
        aspect-ratio: 1 / 1;
        font-size: 21px;
    };
    /* Project buttons (view project) */
    &.project {
        height: 35px;
        font-size: var(--std-font-size);
        display: flex;
        justify-content: center
    };
    /* Guestbook submit button */
    &.guestbook-submit {
        flex: 1;
        max-height: 35px;
        font-size: var(--std-font-size);
        padding: 0 5px;
        margin-top: auto;
    };
}

/* Hover effect for (text of) buttons that are not already pushed */
.base-button:hover:not(.selected) {
    border-style: solid;
    border-color: var(--color-secondary-hl);
    .button-text {
        transform: translateY(1px);
        text-decoration: underline;
    }
}

.button-text > svg {
    height: 15px;
    fill: var(--color-primary);
}

/*==============================================================*/
/*====================[ STRUCTURAL CLASSES ]====================*/
/*==============================================================*/

.outset {
    outline: 2px solid var(--color-outline);
    box-sizing: border-box;
    border: 4px outset var(--color-secondary-hl);
    background-color: var(--color-secondary);
    color: var(--color-text);
    &.header-top {
        border-color: var(--color-primary-hl);
        /* border-color: var(--color-primary-hl); */
        background-color: var(--color-primary);
        color: var(--color-text2);
    }
}

.inset {
    border: 4px inset var(--color-secondary-hl);
    background-color: var(--color-secondary);
    box-sizing: border-box;
    color: var(--color-text);
    &.header-clock {
        margin-right: 15px;
        border-color: var(--color-primary-hl);
        background-color: var(--color-accent-hl);
    }
}

.text-contents {
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
    text-align: justify;
    text-justify: auto;

    border: 1px dashed var(--color-outline);
}

/*==========================================================*/
/*====================[ OVERLAY WINDOW ]====================*/
/*==========================================================*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: calc(100vh - var(--header-height)); */
    height: 100%;
    z-index: 2;
    padding: min(50px, 5%);
    box-sizing: border-box;
    background-color: #2123224d;
}

.overlay[display=block] + body {
    overflow: hidden;
}

.window {
    padding: 15px;
    color: var(--color-text);
    width: 100%;
    height: 100%;
}

.window-top {
    display: flex;
    justify-content: space-between;
}

.window-title {
    font-size: 30px;
    font-weight: bold;
}

.window-text {
    font-size: var(--std-font-size);
    margin-top: 10px;
}


/*===================================================*/
/*====================[ ... ]====================*/
/*===================================================*/



/*===================================================*/
/*====================[ ... ]====================*/
/*===================================================*/